<div class="media-show">
    <div>
        {{ include('@UserMedia/media/item/_item_media.html.twig',
            {
                'user_media': user_media,
                'resize': false,
            },
            with_context = false
        ) }}
    </div>
    <div class="control-container media-control-container">
        {{ include('@UserMedia/media/item/_item_control.html.twig',
            {
                'user_media': user_media,
                'resize': false,
            },
            with_context = false
        ) }}
    </div>
    <h2>
        <i class="{{ include('@UserMedia/member/_comment_ico.html.twig', with_context = false) }}"></i>
        {{ 'title.comments'|trans({}, 'user_media') }}
        <span class="badge badge-blue" id="user-media-comment-title-{{ user_media.media.token }}">
            {{ user_media_comments|length }}
        </span>
    </h2>
    <div class="comments">
        {% if app.user %}
            {{ include('@UserMedia/member/_comment_form.html.twig',
                {
                    'form': form,
                },
                with_context = false
            ) }}
        {% else %}
            <div class="alert alert-danger">
                <p class="mb-0">
                    {{ ('user.media.' ~ (user_media.media.mime is image ? 'photo' : 'video') ~ '.comment.login_required')|trans({}, 'user_media') }}
                </p>
            </div>
        {% endif %}
        {% if user_media_comments is not empty %}
            {% for comment in user_media_comments %}
                {{ include('@UserMedia/member/_comment.html.twig',
                    {
                        'comment': comment,
                    },
                    with_context = false
                ) }}
            {% endfor %}
        {% else %}
            <div class="alert alert-danger mb-0">
                <p class="mb-0">
                    {{ ('user.media.' ~ (user_media.media.mime is image ? 'photo' : 'video') ~ '.comment.not_found')|trans({}, 'user_media') }}
                </p>
            </div>
        {% endif %}
    </div>
</div>