{% if user_media.media.isImage %}
    <img src="{{ path('media_render',
        {
            'blur': 'f',
            'resize': app.request.get('_route') == 'member_media' ? 'r' : 's',
            'size': app.request.get('_route') == 'member_media' ? '_1080-0_' : '_200-200_',
            'uuid': user_media.media.uuid,
            'name': user_media.media.name,
        }
    ) }}" alt="{{ 'label.user.media.photo'|trans(
        {
            '%username%': '@' ~ user_media.createdBy.username,
        }
    ) }}" class="img-fluid img-thumbnail">
{% else %}
    <div class="embed-responsive embed-responsive-16by9">
        <video controls class="video-js embed-responsive-item img-thumbnail" id="myVideo">
            <source src="/upload/f/f/f/{{ user_media.media.uuid }}/{{ user_media.media.name }}" type="video/mp4">
            {{ 'video.browser.support'|trans(
                {
                    '%contact_link%': path('contact'),
                }
            )|raw }}
        </video>
      <script>
            var vid = document.getElementById("myVideo");
            vid.onplay = function() {
                alert("The video has started to play");
            };
        </script>
    </div>
{% endif %}